*{
    margin:0;
    padding;0;
}
img {display: flex;
     margin: auto;}
body { background-color: darkgray; 
        margin-top: 0px;
        margin-left: 100px;
        margin-right: 100px;
        margin bottom: 10px;
    }
h1 {font-family: poppins ;
     text-align: center;
     margin: 40px 30px; 
     background-color: black; 
     color: white;
    font-size: 30px;}

h2 {font-size: 25px;
    font-family: helvetica;
    text-align: center;
    border-style: solid;
     border-width: 3px;
     border-radius: 20px;
     padding: 5px;
     margin-left: 10px;
    margin-right: 20px;    }

p {font-family: helvetica;
   font-size: 25px; 
    text-align: justify;}
h3 { font-size: 25px;
    font-family: Helvetica;
    border-left: 5px solid black;
    padding: 3px
    }
.teknik-foto {font-size: 25px; 
font-family: helvetica;
display: contents;}
.teknik foto img { float:left; padding: 10px;}
.bagian-a {
    background-color: #232D3F ;
    color: white;
    height: 50vh;
    width: 100%;
padding: 20px}
dt img {float: left: padding: 10px;}

dd {
    font-family: helvetica;
    width: 100%;
    height: 100%;
    text-indent: 40px;
    text-align: justify;
    font-size: px;
    line-height: 30px;
    padding: 10px;
    box-sizing: border-box;}
    